{% include 'adminhomeheader.html'%}
	<!-- CC slider Wrapper Start -->
	<div class="cc_slider_main_wrapper">
		<div class="cc_slider_overlay"></div>
		<div class="jp_slider_shape_img">
			<img src="static/images/header_shape.png" alt="shape">
		</div>
		<div class="cc_slider_img_section">
			<div class="owl-carousel owl-theme">
				<div class="item cc_main_slide1">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
								<div class="cc_slider_cont1_wrapper">
									<div class="cc_slider_cont1">
										<h2 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">We Offer <span>30,000+</span><br> Job Vacancies Right Now!</h2>
										<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">Find Jobs, Employment &amp; Career Opportunities</h1>
										<p data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
											<br>auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet
											<br>nibh vulputate cursus a sit amet mauris. Morbi accumsan</p>
										<ul>
											<li data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown"><a href="#"><i class="fa fa-plus-circle"></i> GET STARTED</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
								<div class="jp_slider_img">
									<img src="static/images/slider_img.png" alt="img">
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- CC slider Wrapper End -->
{%include 'footer.html'%}
