{%include 'homeheader.html'%}


 	<!-- CC slider Wrapper Start -->
   <div class="cc_slider_main_wrapper">
		<div class="cc_slider_overlay"></div>
		<div class="jp_slider_shape_img">
			<img src="static/images/header_shape.png" alt="shape">
		</div>
		<div class="cc_slider_img_section">
			<div class="owl-carousel owl-theme">
				<div class="item cc_main_slide1">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
								<div class="cc_slider_cont1_wrapper">
                  <form align="center" class="form" method="post" enctype="multipart/form-data">
                    <h1>Register For An Account</h1>
                    <input type="text" class="name" placeholder="First Name" name="fname">
                    <div>
                        <p class="name-help">Please enter your first name.</p>
                    </div>
                    <input type="text" class="name" placeholder="Last Name" name="lname">
                    <div>
                        <p class="name-help">Please enter your last name.</p>
                    </div>
                    <textarea name="address" cols="40" rows="3" placeholder="Address" class="email"></textarea>
                    <div>
                        <p class="name-help">Please enter your address.</p>
                    </div>
                    <input type="text" class="name" placeholder="Place" name="place">
                    <div>
                        <p class="name-help">Please enter your place.</p>
                    </div>
                    <input type="text" class="name" placeholder="Pincode" name="pincode">
                    <div>
                        <p class="name-help">Please enter your pincode.</p>
                    </div>
                    <input type="text" class="name" placeholder="Contact Number" name="phn">
                    <div>
                        <p class="name-help">Please enter your contact number.</p>
                    </div>
                    <input type="radio" name="gender" value="Male"> Male
                    <input type="radio" name="gender" value="Female"> Female
                    <input type="radio" name="gender" value="Other"> Other
                    <div>
                        <p class="name-help">Please enter your gender.</p>
                    </div>
                    <input type="email" class="email" placeholder="Email" name="email">
                    <div>
                        <p class="email-help">Please enter your current email address.</p>
                    </div>
                    <input type="text" class="name" placeholder="Skills" name="skills">
                    <div>
                        <p class="name-help">Please enter your skills.</p>
                    </div>
                    <input type="text" class="name" placeholder="Work Experience" name="work_experience">
                    <div>
                        <p class="name-help">Please enter your experience.</p>
                    </div>
                    <input type="text" class="name" placeholder="Company" name="company_name">
                    <div>
                        <p class="name-help">Please enter the name of your company name.
                    </div>
                    <input type="text" class="name" placeholder="Job Role" name="job_role">
                    <div>
                        <p class="name-help">Please enter your job.</p>
                    </div>
                    <input type="text" class="name" placeholder="Current ctc" name="current_ctc">
                    <div>
                        <p class="name-help">Please enter your income.</p>
                    </div>
                    <input type="text" class="name" placeholder="Expected ctc" name="expected_ctc">
                    <div>
                        <p class="name-help">Please enter your expected income.</p>
                    </div>
                    <input type="text" class="name" placeholder="Suggested role" name="suggested_role">
                    <div>
                        <p class="name-help">Please enter your expected job role.</p>
                    </div>
                    <input type="text" class="name" placeholder="Username" name="uname">
                    <div>
                        <p class="name-help">Please enter an username.</p>
                    </div>
                    <input type="text" class="name" placeholder="Password" name="pasw">
                    <div> 
                        <p class="name-help">Please enter a strong password.</p>
                    </div>
                    <tr>
                        <th>Image</th>
                        <td><input type="file" name="img" class="form form-control"></td>
                    </tr>
                    <tr>
                        <th>Image 1</th>
                        <td><input type="file" name="img1" id="" class="form form-control"></td>
                    </tr>
                    <tr>
                        <th>Image 2</th>
                        <td><input type="file" name="img2" class="form form-control"></td>
                    </tr>
                    <tr>
                        <th>Image 3</th>
                        <td><input type="file" name="img3" class="form form-control"></td>
                    </tr>
                    <input type="submit" class="submit" value="Register" name="submit">
                </form>
								</div>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
								<div class="jp_slider_img">
									<img src="static/images/slider_img.png" alt="img">
								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<!-- CC slider Wrapper End -->


















<style>
   
    h1 {
        text-align: center;
        padding: 30px 0;
        font: 25px Oswald;
        color: #42a5f5; /* Blue heading color */
        text-transform: uppercase;
    }
    p {
        font: 13px Open Sans;
        color: #6E6E6E;
        margin-bottom: 30px;
    }
    .form {
        width: 100%;
        text-align: center;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 90%;
        padding: 15px;
        border-radius: 8px;
        border: 2px solid #ea5656; /* Blue border */
        background-color: #ddc2c2; /* Dark input background */
        color: #ddd; /* Input text color */
        margin-bottom: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow */
    }
    input[type="submit"] {
        width: 90%;
        padding: 15px;
        border-radius: 8px;
        background-color: #42a5f5; /* Blue button color */
        color: #fff; /* Button text color */
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    input[type="submit"]:hover {
        background-color: #1e88e5; /* Darker blue on hover */
    }
    .name-help,
    .email-help {
        display: none;
        padding: 0;
        margin: 0px 0px 15px 0px;
    }
</style>

{% include 'footer.html' %}