<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 >You can add questions here</h1>
        <table >
        <form method="post">
        
           <tr>
            <th> Select test type :</th>
            <td>
                <select name="experience_type">
                    {%for i in data['view']%}

                    <option value="{{i['experience_type_id']}}">{{i['experience_type']}}</option>
                    {%endfor%}

                </select>
            </td>
           </tr>

           <tr>
            <th> Select job role :</th>
            <td>
                <select name="job_role">
                    {%for i in data['key']%}

                    <option value="{{i['job_role_id']}}">{{i['job_role_title']}}</option>
                    {%endfor%}

                </select>
            </td>
           </tr>

           <tr>
            <td colspan="2" style="text-align:center;"><input type="submit" value="submit" name="submit"></td>
             </tr>
    
</body>
</html>



