<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        Select the type of User
        <select name="type">
            <option value="company">COMPANY</option>
            <option value="employee">EMPLOYEE</option>
            <option value="admin">ADMIN</option>
        </select>
        <br><br><br><br><br><br>
        <input type="button" value="next" name="next">
    </form>
</body>
</html>